/*--------------- Général ---------------*/

html {
  height: 100%;
}

body {
  background-color: rgba(119, 181, 254, 0.5);
  height: 100%;
  margin: 0; /* Éviter un éventuel espace autour de l'écran */
}

header {
  height: 22%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h1 {
  margin:0;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  padding:0;
}

header p {
  margin: 0;
  text-align: center;
  width: 85%;
  font-size: 17px;
}

#apppseudo {
  height: 8%;
  overflow: hidden;
}

#apppseudo h2, #apppseudo form {
  margin: 0;
  margin-top: 5px;
  margin-left: 5px;
  padding:0;
}

#apppseudo form {
  margin-left: 25px;
}

#apphof {
  margin: 0;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
}

#apphof h2 {
  margin: 0;
  text-align: center;
  width: 100%;
  flex-shrink: 0; /* Ne pas rétrécir le texte */
  padding-bottom: 10px;
}

/*--------------- Tableau ---------------*/

/*----- Taille + Bordure -----*/

table {
  table-layout: fixed;
  width: 80%;
  height: auto;
  max-height: 70%;
  padding: 0;
  border-collapse: collapse;
  border: 3px solid purple;
  margin-top: 20px;
  overflow-y: auto;
}

tr {
  height: auto; /* Les lignes ajustent leur hauteur selon le contenu */
}

th, td, tr, thead {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

/*----- Largeur de chaque colonne -----*/

thead th:nth-child(1) {
  width: 33%;
}

thead th:nth-child(2) {
  width: 33%;
}

thead th:nth-child(3) {
  width: 33%;
}

/*----- Couleur -----*/

thead * {
  background-color: rgba(1, 49, 180, 0.7);
}

tbody td {
  background-color: rgba(1, 49, 180, 0.5);
}

tbody th {
  background-color: rgba(1, 49, 180, 0.6);
}
