html, body {
      height: 100%; /* Remplir toute la hauteur de l'écran */
      margin : 0;
    }

/* Ces deux là sont nécessaires pour définir la taille de la map*/
#appmap {
      width : 100%;
      height : 100%;
    }

#map {
      width: 100%;
      height: 100%;
    }